@import url(//fonts.googleapis.com/css?family=Yusei+Magic);

body {
  margin: 0;
  padding: 0;
  color: #f7f4d6;
}


.container1{
  display: flex;
  padding: 2em 0;
}

.container2{
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleJ {
  font-size: 2.3em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.titleE {
  font-size: 1.5em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.subtitleJ {
  font-size: 0.9em;
}

.subtitleE {
  font-size: 0.7em;
}

.nav-link {
  color:rgba(138, 220, 38, 0.832);
}

.nav-item > a:hover {
  color: aqua;
}


#bg 
{	
	position:fixed;
	background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: auto;
  height: auto;
	margin: 0;
  padding: 0;
  z-index: -2;
}