@import url(//fonts.googleapis.com/css?family=Yusei+Magic);

body {
  margin: 0;
  padding: 0;
  color: #f8f8f8;
}


.container1{
  display: flex;

}

.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleJ {
  font-size: 3em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.titleE {
  font-size: 3em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.subtitleJ {
  font-size: 1.5em;
}

.nav-link {
  color:rgb(204, 27, 214);
}

.nav-item > a:hover {
  color: aqua;
}


#bg 
{	
	position:fixed;
	background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: auto;
  height: auto;
	margin: 0;
  padding: 0;
  z-index: -2;
}