@import url(//fonts.googleapis.com/css?family=Yusei+Magic);

body {
  margin: 0;
  padding: 0;
  color: #f7f4d6;
}



.topE{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh
}

.topEtext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navConE {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh
}

.navConJ {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh
}

.topJ{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh
}

.topJtext{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleJ {
  font-size: 2.1em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.titleE {
  font-size: 1.4em;
  font-family: Yusei Magic;
  color:rgb(25, 255, 171);
}

.subtitleJ {
  font-size: 0.9em;
}

.subtitleE {
  font-size: 0.68em;
}

.nav-link {
  color:rgba(138, 220, 38, 0.832);
  font-size: 0.9em;
}

.nav-item > a:hover {
  color: aqua;
}


#bg 
{	
	position:fixed;
	background: cover;
  background: linear-gradient(145deg, #192839 50%, #1ab4e2 115%);
  width: auto;
  height: auto;
	margin: 0;
  padding: 0;
  z-index: -2;
}